:host{
    display: flex;
    width: 100vw;
}

.header-container{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    height: 52px;
    font-size: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 14px;
    text-align: center;
    align-items: center;
    width: 100%;
}

.header-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    & :hover{
        cursor: pointer;
        color: rgb(75, 75, 252);
    }
}

a{
    text-decoration: none;
    color: black;
    &:hover{
        color: rgb(75, 75, 252);
    }
}