<app-header/>
<div class="content-container">
  <p>Adicionar país</p>
  <form class="example-form" #paisForm="ngForm" [formGroup]="form" (ngSubmit)="handleSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Ex. Brasil" formControlName="nome" required usuario="nome" id="nome">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Sigla</mat-label>
      <input matInput placeholder="Ex. BR" formControlName="sigla" usuario="sigla" id="sigla" [errorStateMatcher]="matcher">
      <mat-error *ngIf="form.get('sigla')?.hasError('minlength') || form.get('sigla')?.hasError('maxlength') || form.get('sigla')?.hasError('pattern')">
        A sigla deve ter exatamente 2 letras, sem espaços, números ou caracteres especiais.
      </mat-error>
      <mat-error *ngIf="form.get('sigla')?.hasError('required')">
        Sigla é <strong>obrigatória</strong>.
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Gentilico</mat-label>
      <input matInput placeholder="Ex. Brasileiro" formControlName="gentilico" required usuario="gentilico" id="gentilico">
    </mat-form-field>
  
    <div class="btn-container">
      <button mat-raised-button type="submit" [disabled]="paisForm.invalid">Salvar</button>
      <a [routerLink]="['/home']">
        <button mat-raised-button style="background-color: rgb(143, 0, 0); color: #ffffff;">
          Cancelar
        </button>
      </a>
    </div>
  </form>
</div>

