form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.btn-container {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.disabled-button {
    opacity: 0.5;
    /* Reduce opacity for disabled look */
    cursor: not-allowed;
    /* Change cursor to indicate disabled state */
}