:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centralize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.content-container {
    width: 100%;
    max-width: 748px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.btn-container {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.disabled-button {
    opacity: 0.5;
    /* Reduce opacity for disabled look */
    cursor: not-allowed;
    /* Change cursor to indicate disabled state */
}