<app-header/>

<p>Editar país</p>
<form class="example-form" #paisForm="ngForm" [formGroup]="form" (ngSubmit)="handleSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Ex. Brasil" formControlName="nome" required usuario="nome" id="nome">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Sigla</mat-label>
    <input matInput placeholder="Ex. BR" formControlName="sigla" usuario="sigla" id="sigla">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Gentilico</mat-label>
    <input matInput placeholder="Ex. Brasileiro" formControlName="gentilico" required usuario="gentilico" id="gentilico">
  </mat-form-field>

  <div class="btn-container">
    <button mat-raised-button type="submit" [disabled]="paisForm.invalid">Salvar</button>
    <a [routerLink]="['/home']">
      <button mat-raised-button style="background-color: rgb(143, 0, 0); color: #ffffff;">
        Cancelar
      </button>
    </a>
  </div>
</form>
