:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.centralize {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-container {
    width: 100%;
    max-width: 748px;
}

.btn-excluir{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    &:hover{
        background-color: darkred;
    }
}

.btn-editar{
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    &:hover{
        background-color: darkblue;
    }
}

table{
    width: 100%;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    // z-index: 1;
}

mat-paginator{
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    // z-index: 0;
}